{% extends 'basePremium.html' %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
        <h2 class="text-center">Jak to działa?</h2>
        <p>Konkurs polega na gromadzeniu punktów. Punkty można zdobyć wpisując specjalny kod w przygotowane do tego
            miejsce w serwisie. Miejsce to znajduję się w zakładce „Doładuj punkty”, dostępne po zalogowaniu się na
            swoje osobiste, zarejestrowane wcześniej, konto.</p>
        <h4 class="text-center" style="font-weight: bold">W jaki sposób zdobyć kod doładowujący punkty?</h4>
        <p>Kod doładowujący pulę punktową uczestnika konkursu można zdobyć za pomocą usług SMS MO. Usługa ta polega na
            wysłaniu wiadomości sms na wskazany numer o wskazanej treści, w odpowiedzi otrzymamy kod, dzięki którym
            możemy doładować swoje konto o wskazaną liczbę punktów.</p>
        <p>Koszt smsa, treść, numer na który powinien zostać wysłany sms oraz ilość punktów przysługująca za wysłanie
            wiadomości określona została w zakładce „Zdobądź kod na punkty”.</p>
        <p>Kod doładowujący możesz uzyskać także wchodząc na stronę programu i wypełniając zawarty tam formularz sms.
            Program jest to strona typu landing page o treściach promocyjnych i informacyjnych, która ma na celu
            zachęcić do udziału w konkursie i obrazuję możliwą do zdobycia nagrodę.</p>
        <p>Link do danego programu odnajdziesz w zakładce „Katalog nagród” po kliknięciu w powiązany z nagrodą odnośnik
            „Więcej informacji” i kolejno „Landing page”. W zakładce tej, możesz także o opisie nagrody, jej wartości i
            sposobie wręczenia.</p>
        <h4 class="text-center" style="font-weight: bold">Jak uzyskać status uczestnika konkursu?</h4>
        <p>Aby uzyskać status uczestnika konkursu, musisz spełnić dwa warunki:</p>
        <ol>
            <li>Zarejestrować swoje konto w serwisie <a
                    href="http://www.wygraj-nagrode.pl">http://www.wygraj-nagrode.pl</a></li>
            <li>Doładować swoją pulę punktową</li>
        </ol>
        <h4 class="text-center" style="font-weight: bold">Kto zostanie laureatem konkursu?</h4>
        <p>Zwycięzcami konkursu zostanie dwóch uczestników konkursu:</p>
        <ol>
            <li>Pierwszym laureatem zostanie ten uczestnik, który podczas trwania edycji konkurs nazbiera największą
                liczbę punktów, a następnie wybierze dowolną nagrodę, którą chce otrzymać spośród katalogu nagród,
                dostępnym w zakładce „Katalog nagród”
            </li>
            <li>Drugim laureatem będzie mógł stać każdy z uczestników konkursu! Każdy uczestnik konkursu zainteresowany
                wygraną, będzie mógł wybrać dowolną nagrodę spośród dostępnych w zakładce „Katalog nagród” (z
                wyłączeniem nagrody, którą wybierze pierwszy laureat konkursu) i odpowiedzieć na pytanie: „Dlaczego to
                ja miałbym wygrać tę nagrodę”. Autor najciekawszej odpowiedzi, wybranej przez komisję konkursową,
                zostanie drugim laureatem konkursu.
            </li>
        </ol>
        <h2 class="text-center" style="font-weight: bold">Każdy może wygrać!</h2>
    </div>
    </body>

{% endblock %}