{% extends 'basePremium.html' %}

{% block content %}
    <body class="container">
    <div class="container-fluid">
        <h2 class="text-center">Zdobądź kod na punkty</h2>
        <p>Aby zdobyć kod umożliwiający doładowanie puli punktowej musisz wysłać sms według tabeli niżej:</p>
        <table class="table">
            <thead>
            <tr>
                <th>Treść</th>
                <th>Numer</th>
                <th>Kod wysyłki wiadomości SMS MO</th>
                <th>Liczba punktów</th>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>prefiks 1</li>
                        <li>prefiks 2</li>
                        <li>prefiks 3</li>
                        <li>prefiks 4</li>
                        <li>prefiks 5</li>
                        <li>prefiks 6</li>
                    </ul>
                </td>
                <td class="center-align" style="font-weight: bold">xxxx</td>
                <td class="center-align">xx,xx zł (<span style="font-weight: bold">xx, xx zł</span> z VAT)</td>
                <td class="center-align">x punktów</td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>prefiks 1</li>
                        <li>prefiks 2</li>
                        <li>prefiks 3</li>
                        <li>prefiks 4</li>
                        <li>prefiks 5</li>
                        <li>prefiks 6</li>
                        <li>prefiks 7</li>
                    </ul>
                </td>
                <td class="center-align" style="font-weight: bold">xxxxx</td>
                <td class="center-align">xx,xx zł (<span style="font-weight: bold">xx, xx zł</span> z VAT)</td>
                <td class="center-align">x punktów</td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>prefiks 1</li>
                        <li>prefiks 2</li>
                        <li>prefiks 3</li>
                        <li>prefiks 4</li>
                        <li>prefiks 5</li>
                        <li>prefiks 6</li>
                        <li>prefiks 7</li>
                    </ul>
                </td>
                <td class="center-align" style="font-weight: bold">xxxxx</td>
                <td class="center-align">xx,xx zł (<span style="font-weight: bold">xx, xx zł</span> z VAT)</td>
                <td class="center-align">x punktów</td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>prefiks 1</li>
                        <li>prefiks 2</li>
                        <li>prefiks 3</li>
                        <li>prefiks 4</li>
                        <li>prefiks 5</li>
                        <li>prefiks 6</li>
                        <li>prefiks 7</li>
                    </ul>
                </td>
                <td class="center-align" style="font-weight: bold">xxxx</td>
                <td class="center-align">xx,xx zł (<span style="font-weight: bold">xx, xx zł</span> z VAT)</td>
                <td class="center-align">x punktów</td>
            </tr>
            <tr>
                <td>
                    <ul style="list-style-type:none">
                        <li>prefiks 1</li>
                        <li>prefiks 2</li>
                        <li>prefiks 3</li>
                        <li>prefiks 4</li>
                        <li>prefiks 5</li>
                        <li>prefiks 6</li>
                        <li>prefiks 7</li>
                    </ul>
                </td>
                <td class="center-align" style="font-weight: bold">xxxxx</td>
                <td class="center-align">xx,xx zł (<span style="font-weight: bold">xx, xx zł</span> z VAT)</td>
                <td class="center-align">x punktów</td>
            </tr>
            </thead>
        </table>
        <p>Po zalogowaniu się na swoje konto, otrzymany w wiadomości kod, wpisz w przygotowanym okienku w zakładce
            „Doładuj punkty” i kliknij odnośnik „Zatwierdź”.</p>
        <p>Kod doładowujący możesz uzyskać także wchodząc na stronę programu i wypełniając zawarty tam formularz sms.
            Program jest to strona typu landing page o treściach promocyjnych i informacyjnych, która ma na celu
            zachęcić do udziału w konkursie i obrazuję możliwą do zdobycia nagrodę.</p>
        <p>Link do danego programu odnajdziesz w zakładce „Katalog nagród” po kliknięciu w powiązany z nagrodą odnośnik
            „Więcej informacji” i kolejno „Landing page”.</p>
        <h4 class="text-center" style="font-weight: bold">Pamiętaj!</h4>
        <p>Każdorazowo wysyłając SMS MO oświadczasz, iż zapoznałeś się z regulaminem konkursu dostępnym w zakładce
            „Regulamin” oraz akceptujesz jego treść.</p>
    </div>
    </body>

{% endblock %}