{% extends 'basePremium.html' %}
{% load static %}

{% block content %}
    <body class="container">
    <div class="container-fluid text-center">
        <h2>Katalog nagród</h2>
        <ul>
            <div class="row text-center">

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/galaxys8.jpg' %}" alt="Paris">
                        <p><strong>Samsung Galaxy S8</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize1">Więcej informacji
                        </button>
                        <div id="modalPrize1" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Samsung Galaxy S8</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="{% static 'img/s8/index.html' %}">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/galaxys8+.jpg' %}" alt="Paris">
                        <p><strong>Samsung Galaxy S8+</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize1">Więcej informacji
                        </button>
                        <div id="modalPrize1" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Samsung Galaxy S8+</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="Karol/s8/index.html">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/konto_steam.jpg' %}" alt="Paris">
                        <p><strong>Konto steam</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize2">Więcej informacji
                        </button>
                        <div id="modalPrize2" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Konto steam</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="Karol/konto-steam/index.html">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/PS4.jpg' %}" alt="Paris">
                        <p><strong>Konsola PS 4 Pro</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize3">Więcej informacji
                        </button>
                        <div id="modalPrize3" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Konsola PS 4 Pro</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="Karol/5_consoles/index.html">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Xbox.jpg' %}" alt="Paris">
                        <p><strong>Konsola Xbox ONE S</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize4">Więcej informacji
                        </button>
                        <div id="modalPrize4" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Konsola Xbox ONE S</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="Karol/5_consoles/index.html">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/nagroda6.jpg' %}" alt="Paris">
                        <p><strong>Nagroda nr 6</strong></p>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                data-target="#modalPrize5">Więcej informacji
                        </button>
                        <div id="modalPrize5" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">FSO Polonez</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Wartość nagrody: XXX zł</p>
                                        <p>Opis nagrody: </p>
                                        <p>Sposób realizacji nagrody: </p>
                                        <p><a href="#">Landing page</a></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ul>

    </div>
    </body>

{% endblock %}
