{% extends 'base.html' %}

{% block content %}

    <body class="container">
    <div class="container-fluid">
        <h2 class="text-center">Witaj w serwisie</h2>
        <h2 class="text-center">www.<span style="font-weight: bold">Wygraj-Nagrode</span>.pl</h2>
        <h4 class="text-center">Serwis wygraj nagrodę, jest serwisem organizującym konkurs, w którym możesz zdobyć
            wybraną przez siebie nagrodę!</h4>
        <p>Marzyłeś zawsze o flagowym modelu smarftona swojej ulubionej marki? Jesteś gadżeciarzem, który stara się
            dotrzymywać
            trendom na rynku smartfonów? Na pewno znajdziesz coś dla siebie spośród katalogu nagród :)</p>
        <p>A może jesteś zapalonym graczem konsolowym lub pecetowych? Świetnie trafiłeś! Możesz wygrać najnowszą
            konsolę, konto
            na platformie steam, lub doładowanie Twojego konta steam.</p>
        <p>Być może chciałbyś podszkolić swój język obcy, lub od podstaw nauczyć się nowego języka. Żaden problem,
            możesz wygrać
            kurs językowy wybranego przez siebie języka w formie tradycyjnej jak i formie online!</p>
        <p>To tylko kilka przykładów nagród spośród wielu dostępnych o różnej tematyce. Ich pula będzie się zwiększała w
            trakcie
            trwania konkursu a zwycięzcy wybierają nagrodę dopiero po zakończeniu edycji konkursu!</p>
        <h4 class="text-center" style="font-weight: bold">Każdy uczestnik ma szansę na wygraną!</h4>
        <h4 class="text-center">Nie zastanawiaj się, spraw prezent sobie lub bliskiej Ci osobie</h4>
        <p>Wejdź w zakładkę „Jak to działa?” i dowiedz się jak wygląda konkursu, na czym polega i jak stać się jednym ze
            zwycięzców.</p>
    </div>
    </body>

{% endblock %}